* {
  margin: 0;
  padding: 0;
  outline: none;
}

html, body, #root {
  width: 95%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

body {
  background: beige;
}

#main-wrap {
  background: whitesmoke;
  overflow: auto;
  height: 100%;
}

#main-wrap .add-task {
  margin: 20px auto;
  padding: 10px;
  /*border: 1px solid brown;*/
  border: none;
  border-radius: 5px;
  background: rgb(242, 220, 245);
  cursor: pointer;
  color: white;
}

#block-wrap .task-content {
  /*border: 1px solid black;*/
  width: 50%;
  margin: 0 auto 25px;
  padding: 10px;
  background: bisque;
  border-radius: 10px;
  min-height: 50px;
}

#block-wrap .task-content .task-name {
  margin-bottom: 30px;
  word-wrap: break-word;
}

#block-wrap .task-content .edit, #block-wrap .task-content .del, #block-wrap .task-content .save {
  display: inline-block;
  padding: 10px 5%;
  cursor: pointer;
  border: none;
}
#block-wrap .task-content .edit {
  color: wheat;
  background: blue;
}
#block-wrap .task-content .del {
  color: wheat;
  background: red;
}
#block-wrap .task-content .save {
  color: wheat;
  background: green;
}

#block-wrap .task-content textarea {
  display: block;
  margin: 0 auto 10px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}


